@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 33% 100%;
    --background-darker: 214 33% 97%;
    --foreground: 214 57% 1%;
    --muted: 184 0% 86.15%;
    --muted-foreground: 184 0% 0%;
    --popover: 0 0% 99%;
    --popover-foreground: 214 57% 0%;
    --card: 0 0% 99%;
    --card-foreground: 214 57% 0%;
    --border: 214 4% 90%;
    --input: 214 4% 90%;
    --primary: 214 70% 25%;
    --primary-foreground: 214 0% 100%;
    --secondary: 196.8 70.28% 48.82%;
    --secondary-foreground: 0 0% 100%;
    --accent: 244 0% 85.38%;
    --accent-foreground: 244 0% 0%;
    --destructive: 19 77.43% 36.85%;
    --destructive-foreground: 19 89% 88%;
    --ring: 214 70% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 217.5 9.09% 17.25%;
    --foreground: 334 34% 98%;
    --muted: 210 9.09% 12.94%;
    --muted-foreground: 334 0% 60.77%;
    --popover: 210 9.09% 12.94%;
    --popover-foreground: 334 34% 98%;
    --card: 210 9.09% 12.94%;
    --card-foreground: 334 34% 98%;
    --border: 334 0% 18.46%;
    --input: 214.29 5.04% 27.25%;
    --primary: 226.73 44.76% 37.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.29 5.04% 27.25%;
    --secondary-foreground: 334 0% 100%;
    --accent: 217.5 9.09% 17.25%;
    --accent-foreground: 226.73 0% 75.38%;
    --destructive: 0 86.89% 48.16%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217.5 9.09% 17.25%;
  }
}


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }